<%- include("partials/header"); -%>
<head></head>
<body>
    <center>
        <img src="/images/starbucks.png" alt="" class="starbucksmainimg">
      </center>
<div class="container mt-5" style="margin-top: 20px;">
    <h3><%= title %></h3>
    
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Total Revenue</th>
                <th>Restaurant ID</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            <% data.forEach(employee => { %>
                <tr>
                    <td><%= employee.revenue_id %></td>
                    <td><%= employee.revenue_date %></td>
                    <td><%= employee.total_revenue%></td>
                    <td><%= employee.restaurant_id%></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <!-- Assign Button
    <button class="btn btn-primary" onclick="toggleAssignFields()">
        Update Stock Data +
    </button> -->

    <!-- <form action="/assignstock/12" method="post">
        <div id="assignFields" style="display: none;">
            
            <div class="form-group">
                <label for="field1">Stock id</label>
                <input type="text" class="form-control" id="field1" name="stockid">
                <label for="field1">Stock Name</label>
                <input type="text" class="form-control" id="field1" name="stockname">
                <label for="field1">Stock Quantity</label>
                <input type="text" class="form-control" id="field1" name="stockquant">
                <label for="field1">Admin id</label>
                <input type="text" class="form-control" id="field1" name="adminid">
            </div>
          
    
    
            <button class="btn btn-success" type="submit" style="margin-top: 10px;">Submit</button>
        </div>
    
    </form>
    -->
    <!-- <div style="width: 350;height: 350;">
        <canvas id="employeeChart" width="400" height="400"></canvas>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Dummy data for the pie chart (replace with your actual data)
        var pieData = {
            labels: ["Part-Time", "Full-Time", "Chefs"],
            datasets: [{
                data: [30, 40, 30], // Replace with actual data percentages
                backgroundColor: ["#007bff", "#28a745", "#6610f2"],
            }]
        };

        var ctx = document.getElementById('employeeChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: pieData,
        });

        function toggleAssignFields() {
            var assignFields = document.getElementById('assignFields');
            assignFields.style.display = assignFields.style.display === 'none' ? 'block' : 'none';
        }

       
    </script>
</div>

</body>
</html>
